.why-urVale {
  margin-top: 15rem;
  .header {
    display: flex;
    justify-content: space-evenly;
    @include respond("phone") {
      flex-direction: column;
      padding: 0 2rem;
      text-align: center;
    }
    &__title {
      font-size: 2rem;
      font-weight: 700;
      line-height: 6rem;
      width: 50%;
      @include respond("phone") {
        width: 100%;
        line-height: 4rem;
        font-size: 1.3rem;
      }
      h1 {
        span {
          color: $color-secondary;
        }
      }
    }

    &__description {
      font-size: 2.2rem;
      word-break: break-all;
      width: 50%;
      @include respond("phone") {
        width: 100%;
        font-size: 1.5rem;
        margin-top: 2rem;
      }
      &--bold {
        font-weight: 700;
      }
    }
  }

  .content {
    margin-top: 6rem;

    @include respond("phone") {
      padding: 0 2rem;
    }
    .row {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      gap: 3rem;
      @include respond("phone") {
        flex-direction: column;
      }
    }

    .row2 {
      margin-top: 4rem;
    }

    .card {
      // width: 70rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-top-right-radius: 4rem;
      border-top-left-radius: 4rem;
      padding: 4rem 4rem 0 4rem;
      width: 80rem;
      position: relative;
      img {
        width: 40rem;
      }
      @include respond("phone") {
        width: unset;
        img {
          width: 26rem;
        }
      }
      p {
        padding: 2rem 0;
        font-size: 1.7rem;
        line-height: 3rem;
      }
      &--elctronics {
        background-color: $color-violet;
        h1 {
          color: $color-white;
        }
        p {
          color: $color-white;
        }
      }

      &--automation {
        background-color: $color-secondary-light-2;
        h1 {
          color: $color-black;
        }
        p {
          color: $color-black;
        }
        @include respond("phone") {
          margin-top: 3rem;
        }
      }

      &--bringCar {
        background-color: $color-secondary-light-3;
        h1 {
          color: $color-white;
        }
        p {
          color: $color-white;
        }
        @include respond("phone") {
          margin-top: 3rem;
        }
      }

      &--orderDeails {
        background-color: $color-secondary-light-4;
        h1 {
          color: $color-black;
        }
        p {
          color: $color-black;
        }
        @include respond("phone") {
          margin-top: 3rem;
        }
      }
    }
  }
}
